In [1]:
import pandas as pd
import numpy as np

![ERD MISSING](chicago_crime_erd.png)

In [2]:
SSO="nfe9r6"
hostname='pgsql.dsa.lan'
database='dsa_student'

import getpass
read_password = getpass.getpass("Type Password and hit enter")

Type Password and hit enter········

In [3]:
connection_string = f"postgres://{SSO}:{read_password}@{hostname}/{database}"
%load_ext sql
%sql $connection_string

'Connected: nfe9r6@dsa_student'

In [4]:
#SQLalchemy
mypasswd = getpass.getpass()
username = 'nfe9r6'
host = 'pgsql.dsa.lan'
database = 'dsa_student'

········

In [5]:
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine
# SQLAlchemy Connection Parameters
postgres_db = {'drivername': 'postgres',
               'username': username,
               'password': mypasswd,
               'host': host,
               'database' :database}
engine = create_engine(URL(**postgres_db), echo=True)
del mypasswd

In [ ]:

datapath = "/dsa/data/DSA-7030/Chicago-Crime-Sample-2012-updated.csv"
crime_sample_2012 = pd.read_csv(datapath, index_col=0)

#rename columns to be more consistent
crime_sample_2012.rename(columns={'Case Number': 'case_number', 'Block': 'block'
                                   , 'IUCR': 'iucr', 'Primary Type': 'primary_type'
                                   , 'Description': 'description', 'Location Description': 'location_description'
                                   , 'Arrest': 'arrest', 'Domestic': 'domestic'
                                   , 'Beat': 'beat', 'District': 'district'
                                   , 'Ward': 'ward', 'Community Area': 'community_area'
                                   , 'FBI Code': 'fbi_code', 'Updated On': 'updated_date'
                                   , 'Latitude': 'latitude', 'Longitude': 'longitude'
                                   , 'Date': 'date', 'Year':'year', 'X Coordinate': 'x_coordinate'
                                   , 'Y Coordinate': 'y_coordinate', 'Location': 'location'}, inplace=True)

Changing date format to YYYY-MM-DD HH:MM:SS

In [ ]:
crime_sample_2012['date'] = pd.to_datetime(crime_sample_2012['date'], format='%m/%d/%Y %H:%M:%S %p').dt.strftime('%Y-%m-%d %H:%M:%S')
crime_sample_2012['updated_date'] = pd.to_datetime(crime_sample_2012['updated_date'], format='%m/%d/%Y %H:%M:%S %p').dt.strftime('%Y-%m-%d %H:%M:%S')

ADDED KEYS BELOW IN SECOND PART

In [ ]:
query= """
DROP TABLE IF EXISTS crime_sample_2012;
CREATE TABLE crime_sample_2012 (
    case_number             varchar(100),
    date                    TIMESTAMP WITHOUT TIME ZONE, 
    block                   varchar(100), 
    iucr                    varchar(100), 
    primary_type            varchar(100),
    description             varchar(100),
    location_description    varchar(100),
    arrest                  BOOL,
    domestic                BOOL, 
    beat                    INT, 
    district                INT, 
    ward                    REAL,
    community_area          REAL,
    fbi_code                varchar(100),
    x_coordinate            REAL,
    y_coordinate            REAL, 
    year                    INT, 
    updated_date            TIMESTAMP WITHOUT TIME ZONE, 
    latitude                REAL,
    longitude               REAL,
    location                varchar(100)
)
"""
with engine.connect() as connection:
    res = connection.execute(query)
    print(res)

In [ ]:
crime_sample_2012.to_sql('crime_sample_2012', 
                          engine,            
                          schema= username,  
                          if_exists='append', 
                          index=False,        
                          chunksize=3000,
                          method='multi')

# DATA CLEANING

Eliminating extra data & changing columns to be more consistent

In [ ]:
#dropping columns year, location, x_coordinate, y_coordinate

with engine.connect() as connection:
    res = connection.execute("ALTER TABLE crime_sample_2012 DROP COLUMN year;")
with engine.connect() as connection:
    res = connection.execute("alter table crime_sample_2012 drop column location;")
with engine.connect() as connection:
    res = connection.execute("alter table crime_sample_2012 drop column x_coordinate;")
with engine.connect() as connection:
    res = connection.execute("alter table crime_sample_2012 drop column y_coordinate;")

In [ ]:
#Changing Noise: CRIMINAL SEXUAL ASSAULT to CRIM SEXUAL ASSAULT in primary_type 

with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set  primary_type = 'CRIM SEXUAL ASSAULT' where iucr = '0261';")
with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set  primary_type = 'CRIM SEXUAL ASSAULT' where iucr = '0265';")
with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set  primary_type = 'CRIM SEXUAL ASSAULT' where iucr = '0266';")
with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set  primary_type = 'CRIM SEXUAL ASSAULT' where iucr = '0281';")

# Changing all description columns to match
with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set description = 'AGGRAVATED: HANDGUN' where iucr = '0261';")
with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set description = 'AGGRAVATED: OTHER' where iucr = '0265';")
with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set description = 'ARMED: HANDGUN' where iucr = '031A';")
with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set description = 'AGGRAVATED: HANDGUN' where iucr = '041A';")
with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set description = 'FINANCIAL IDENTITY THEFT: OVER $300' where iucr = '0840';")
with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set description = 'AGGRAVATED CRIMINAL SEXUAL ABUSE' where iucr = '1562';")
#with engine.connect() as connection:
 #   res = connection.execute("update crime_sample_2012 set description = 'AGGRAVATED CRIMINAL SEXUAL ABUSE' where iucr = '1710';")
with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set description = 'CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER' where iucr = '1751';")
with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set description = 'AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER' where iucr = '1752';")
with engine.connect() as connection:
    res = connection.execute("update crime_sample_2012 set description = 'AGGRAVATED SEXUAL ASSAULT OF CHILD BY FAMILY MEMBER' where iucr = '1754';")

Deleting 5 rows where case_number is null

In [13]:
%%sql
DELETE FROM crime_sample_2012 
    WHERE case_number is null;

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[]

Merging duplicate case_numbers

In [16]:
%%sql 
drop table if exists crime_sample, crime_record, crime_location, crime_code;

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
Done.

[]

In [17]:
%%sql
create table crime_sample as 
select * from (
select *, Row_Number() over(partition by case_number, domestic, iucr, fbi_code, primary_type, description, district, beat, ward, block, community_area, latitude, longitude order by case_number, domestic, iucr, fbi_code, primary_type, description, district, beat, ward, block, community_area, latitude, longitude) 
    from crime_sample_2012) a where a.Row_Number = 1;

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
336123 rows affected.

[]

# CREATING DB RELATIONS

Dropping tables before creating

In [18]:
%%sql
drop table if exists crime_record_1, crime_location, crime_code, crime_record;

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
Done.

[]

Create crime_location table and location_id

In [19]:
%%sql
create table crime_location as 
select distinct row_number() over(order by latitude, longitude) location_id, latitude, longitude, district, beat, block, ward, community_area, location_description, case_number from crime_sample group by latitude, longitude, district, beat, block, ward, community_area, location_description, case_number;

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
336123 rows affected.

[]

Creating crime_record table and joining location_id

In [20]:
%%sql
create table crime_record_1 as 
SELECT DISTINCT case_number, arrest, domestic, date, updated_date, iucr, fbi_code
FROM crime_sample;

CREATE TABLE crime_record as
SELECT DISTINCT crime_record_1.case_number, crime_record_1.arrest, crime_record_1.domestic, crime_record_1.date, crime_record_1.updated_date, crime_record_1.iucr, crime_record_1.fbi_code, crime_location.location_id
FROM crime_record_1
LEFT JOIN crime_location ON crime_location.case_number = crime_record_1.case_number
ORDER BY case_number;

ALTER TABLE crime_location
DROP COLUMN case_number;

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
336123 rows affected.
336123 rows affected.
Done.

[]

Creating crime_code table

In [21]:
%%sql
drop table if exists crime_code;
create table crime_code as 
select distinct iucr, fbi_code, primary_type, description 
from crime_sample_2012 
group by iucr, fbi_code, primary_type, description;

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
Done.
328 rows affected.

[]

# PRIMARY/FOREIGN KEY

Adding Primary Keys, iucr and fbi_code to crime_code

In [22]:
%%sql
ALTER TABLE crime_code
ADD CONSTRAINT pk_crime_code PRIMARY KEY (iucr, fbi_code);

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
Done.

[]

Primary Key crime_location as location_id

In [23]:
%%sql
ALTER TABLE crime_location
ADD PRIMARY KEY (location_id);

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
Done.

[]

Primary Key crime_record as case_number

In [24]:
%%sql

ALTER TABLE crime_record
ADD PRIMARY KEY (case_number);

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
Done.

[]

In [25]:
%%sql 
ALTER TABLE crime_record
ADD CONSTRAINT fk_record_code
FOREIGN KEY (iucr, fbi_code) REFERENCES crime_code(iucr, fbi_code);

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
Done.

[]

In [26]:
%%sql 
ALTER TABLE crime_record
ADD FOREIGN KEY (location_id) REFERENCES crime_location(location_id)

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
Done.

[]

## Show the table definitions using psql or querying information_schema.colums catalog

CRIME_CODE table schema and constraint schema

In [27]:
%%sql

-- SELECT * 
SELECT table_name, column_name, data_type, column_default, is_nullable 
FROM 
   information_schema.columns
WHERE 
   table_name = 'crime_code';

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
4 rows affected.

[('crime_code', 'iucr', 'character varying', None, 'NO'),
 ('crime_code', 'fbi_code', 'character varying', None, 'NO'),
 ('crime_code', 'primary_type', 'character varying', None, 'YES'),
 ('crime_code', 'description', 'character varying', None, 'YES')]

In [28]:
%%sql
SELECT constraint_name, table_schema, table_name, constraint_type
    FROM information_schema.table_constraints
   WHERE table_name='crime_code'

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
3 rows affected.

[('pk_crime_code', 'nfe9r6', 'crime_code', 'PRIMARY KEY'),
 ('1762919_1833938_1_not_null', 'nfe9r6', 'crime_code', 'CHECK'),
 ('1762919_1833938_2_not_null', 'nfe9r6', 'crime_code', 'CHECK')]

In [29]:
%%sql

-- SELECT * 
SELECT table_name, column_name, data_type, column_default, is_nullable 
FROM 
   information_schema.columns
WHERE 
   table_name = 'crime_location';

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
9 rows affected.

[('crime_location', 'location_id', 'bigint', None, 'NO'),
 ('crime_location', 'latitude', 'real', None, 'YES'),
 ('crime_location', 'longitude', 'real', None, 'YES'),
 ('crime_location', 'district', 'integer', None, 'YES'),
 ('crime_location', 'beat', 'integer', None, 'YES'),
 ('crime_location', 'block', 'character varying', None, 'YES'),
 ('crime_location', 'ward', 'real', None, 'YES'),
 ('crime_location', 'community_area', 'real', None, 'YES'),
 ('crime_location', 'location_description', 'character varying', None, 'YES')]

In [30]:
%%sql
SELECT constraint_name, table_schema, table_name, constraint_type
    FROM information_schema.table_constraints
   WHERE table_name='crime_location'

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
2 rows affected.

[('crime_location_pkey', 'nfe9r6', 'crime_location', 'PRIMARY KEY'),
 ('1762919_1833926_1_not_null', 'nfe9r6', 'crime_location', 'CHECK')]

CRIME_RECORD table schema and constraint schema

In [31]:
%%sql

-- SELECT * 
SELECT table_name, column_name, data_type, column_default, is_nullable 
FROM 
   information_schema.columns
WHERE 
   table_name = 'crime_record';

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
8 rows affected.

[('crime_record', 'case_number', 'character varying', None, 'NO'),
 ('crime_record', 'arrest', 'boolean', None, 'YES'),
 ('crime_record', 'domestic', 'boolean', None, 'YES'),
 ('crime_record', 'date', 'timestamp without time zone', None, 'YES'),
 ('crime_record', 'updated_date', 'timestamp without time zone', None, 'YES'),
 ('crime_record', 'iucr', 'character varying', None, 'YES'),
 ('crime_record', 'fbi_code', 'character varying', None, 'YES'),
 ('crime_record', 'location_id', 'bigint', None, 'YES')]

In [32]:
%%sql
SELECT constraint_name, table_schema, table_name, constraint_type
    FROM information_schema.table_constraints
   WHERE table_name='crime_record'

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
4 rows affected.

[('crime_record_location_id_fkey', 'nfe9r6', 'crime_record', 'FOREIGN KEY'),
 ('fk_record_code', 'nfe9r6', 'crime_record', 'FOREIGN KEY'),
 ('crime_record_pkey', 'nfe9r6', 'crime_record', 'PRIMARY KEY'),
 ('1762919_1833934_1_not_null', 'nfe9r6', 'crime_record', 'CHECK')]

In [33]:
%%sql

-- SELECT * 
SELECT table_name, column_name, data_type, column_default, is_nullable 
FROM 
   information_schema.columns
WHERE 
   table_name = 'crime_sample';

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
18 rows affected.

[('crime_sample', 'case_number', 'character varying', None, 'YES'),
 ('crime_sample', 'date', 'timestamp without time zone', None, 'YES'),
 ('crime_sample', 'block', 'character varying', None, 'YES'),
 ('crime_sample', 'iucr', 'character varying', None, 'YES'),
 ('crime_sample', 'primary_type', 'character varying', None, 'YES'),
 ('crime_sample', 'description', 'character varying', None, 'YES'),
 ('crime_sample', 'location_description', 'character varying', None, 'YES'),
 ('crime_sample', 'arrest', 'boolean', None, 'YES'),
 ('crime_sample', 'domestic', 'boolean', None, 'YES'),
 ('crime_sample', 'beat', 'integer', None, 'YES'),
 ('crime_sample', 'district', 'integer', None, 'YES'),
 ('crime_sample', 'ward', 'real', None, 'YES'),
 ('crime_sample', 'community_area', 'real', None, 'YES'),
 ('crime_sample', 'fbi_code', 'character varying', None, 'YES'),
 ('crime_sample', 'updated_date', 'timestamp without time zone', None, 'YES'),
 ('crime_sample', 'latitude', 'real', None, 'YES'),
 ('crime_sample', 'longitude', 'real', None, 'YES'),
 ('crime_sample', 'row_number', 'bigint', None, 'YES')]

## Load the data from the given csv file to the relations



* Assuming there will be more than one relations, you need to extract a subsets of data from the csv data. As Python may not be your first choice, you can use any languages to create subsets of data. Then store these data into the M8 exercises folder. 
* After curating the data use any of the following tools to load the data into the tables
  * psql
      * If you use psql, copy and paste your command/query in the following cell
  * sql magic
  * psycopg2
  * SQLAlchemy
* Add additional cells if required

I did a lot of the data manipulation above, not sure where to put everything. Here I will save tables to mod 8 and then pull them agin

In [34]:
crime_record = pd.read_sql_table(
    'crime_record',
    con = engine,            
    schema= username)
crime_location = pd.read_sql_table(
    'crime_location',
    con = engine,            
    schema= username)
crime_code = pd.read_sql_table(
    'crime_code',
    con = engine,            
    schema= username)
crime_sample = pd.read_sql_table(
    'crime_sample',
    con = engine,            
    schema= username)
crime_sample = pd.read_sql_table(
    'crime_sample',
    con = engine,            
    schema= username)

2020-12-18 18:56:46,274 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2020-12-18 18:56:46,275 INFO sqlalchemy.engine.base.Engine {'schema': 'nfe9r6'}
2020-12-18 18:56:46,287 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind IN ('v', 'm')
2020-12-18 18:56:46,288 INFO sqlalchemy.engine.base.Engine {'schema': 'nfe9r6'}
2020-12-18 18:56:46,295 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (n.nspname = %(schema)s)
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2020-12-18 18:56:46,296 INFO sqlalchemy.engine.base.Engine {'schema': 'nfe9r6', 'table_name': 'crime_record'}
2020-12-18 18:56:46,298 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2020-12-18 18:56:46,298 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833934}
2020-12-18 18:56:46,301 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2020-12-18 18:56:46,301 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 18:56:46,308 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2020-12-18 18:56:46,308 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 18:56:46,313 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2020-12-18 18:56:46,314 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833934}
2020-12-18 18:56:46,316 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2020-12-18 18:56:46,316 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833934}
2020-12-18 18:56:46,319 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2020-12-18 18:56:46,319 INFO sqlalchemy.engine.base.Engine {'table': 1833934}
2020-12-18 18:56:46,321 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (n.nspname = %(schema)s)
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2020-12-18 18:56:46,322 INFO sqlalchemy.engine.base.Engine {'schema': 'nfe9r6', 'table_name': 'crime_location'}
2020-12-18 18:56:46,323 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2020-12-18 18:56:46,324 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833926}
2020-12-18 18:56:46,326 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2020-12-18 18:56:46,326 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 18:56:46,329 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2020-12-18 18:56:46,329 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 18:56:46,333 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2020-12-18 18:56:46,334 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833926}
2020-12-18 18:56:46,336 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2020-12-18 18:56:46,336 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833926}
2020-12-18 18:56:46,338 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2020-12-18 18:56:46,338 INFO sqlalchemy.engine.base.Engine {'table': 1833926}
2020-12-18 18:56:46,340 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2020-12-18 18:56:46,340 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833926}
2020-12-18 18:56:46,345 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2020-12-18 18:56:46,345 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833926}
2020-12-18 18:56:46,347 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2020-12-18 18:56:46,348 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833926}
2020-12-18 18:56:46,349 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2020-12-18 18:56:46,350 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833926}
2020-12-18 18:56:46,352 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (n.nspname = %(schema)s)
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2020-12-18 18:56:46,352 INFO sqlalchemy.engine.base.Engine {'schema': 'nfe9r6', 'table_name': 'crime_code'}
2020-12-18 18:56:46,354 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2020-12-18 18:56:46,354 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833938}
2020-12-18 18:56:46,356 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2020-12-18 18:56:46,357 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 18:56:46,362 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2020-12-18 18:56:46,362 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 18:56:46,367 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2020-12-18 18:56:46,367 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833938}
2020-12-18 18:56:46,369 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2020-12-18 18:56:46,370 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833938}
2020-12-18 18:56:46,371 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2020-12-18 18:56:46,371 INFO sqlalchemy.engine.base.Engine {'table': 1833938}
2020-12-18 18:56:46,373 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2020-12-18 18:56:46,373 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833938}
2020-12-18 18:56:46,376 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2020-12-18 18:56:46,376 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833938}
2020-12-18 18:56:46,377 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2020-12-18 18:56:46,378 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833938}
2020-12-18 18:56:46,379 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2020-12-18 18:56:46,379 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833938}
2020-12-18 18:56:46,381 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2020-12-18 18:56:46,381 INFO sqlalchemy.engine.base.Engine {'table_oid': 1833934}
2020-12-18 18:56:46,384 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'


In [35]:
crime_record.to_csv(r'/dsa/home/nfe9r6/jupyter/f20dsa7030_nfe9r6/modules/module8/exercises/crime_record.csv')
crime_location.to_csv(r'/dsa/home/nfe9r6/jupyter/f20dsa7030_nfe9r6/modules/module8/exercises/crime_location.csv')
crime_code.to_csv(r'/dsa/home/nfe9r6/jupyter/f20dsa7030_nfe9r6/modules/module8/exercises/crime_code.csv')
crime_sample.to_csv(r'/dsa/home/nfe9r6/jupyter/f20dsa7030_nfe9r6/modules/module8/exercises/crime_sample.csv')

now re-loading the databases again. I don't know if this is necessary since I already created the relations

In [36]:
%%sql 
drop table if exists crime_record, crime_code, crime_location;

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
Done.

[]

In [42]:
query="""
DROP TABLE IF EXISTS crime_code;
CREATE TABLE crime_code (
        iucr                    varchar(100),
        fbi_code                varchar(100) ,
        primary_type            varchar(100),
        description             varchar(100),
        CONSTRAINT iucr_fbi_pk  PRIMARY KEY (iucr,fbi_code)
)
"""
with engine.connect() as connection:
    res = connection.execute(query)
    print(res)

2020-12-18 19:02:43,614 INFO sqlalchemy.engine.base.Engine
DROP TABLE IF EXISTS crime_code;
CREATE TABLE crime_code (
        iucr                    varchar(100),
        fbi_code                varchar(100) ,
        primary_type            varchar(100),
        description             varchar(100),
        CONSTRAINT iucr_fbi_pk  PRIMARY KEY (iucr,fbi_code)
)

2020-12-18 19:02:43,615 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 19:02:43,624 INFO sqlalchemy.engine.base.Engine COMMIT
<sqlalchemy.engine.result.ResultProxy object at 0x7f20a6888278>

In [43]:
query="""

CREATE TABLE crime_location (
        location_id             INT,
        district                INT,
        beat                    INT,
        block                   varchar(100),
        ward                    REAL,
        community_area          REAL,
        location_description    varchar(100),
        latitude                REAL,
        longitude               REAL,
        CONSTRAINT location_id_pk PRIMARY KEY (location_id)
)
"""
with engine.connect() as connection:
    res = connection.execute(query)
    print(res)

2020-12-18 19:03:25,056 INFO sqlalchemy.engine.base.Engine

CREATE TABLE crime_location (
        location_id             INT,
        district                INT,
        beat                    INT,
        block                   varchar(100),
        ward                    REAL,
        community_area          REAL,
        location_description    varchar(100),
        latitude                REAL,
        longitude               REAL,
        CONSTRAINT location_id_pk PRIMARY KEY (location_id)
)

2020-12-18 19:03:25,057 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 19:03:25,067 INFO sqlalchemy.engine.base.Engine COMMIT
<sqlalchemy.engine.result.ResultProxy object at 0x7f20a6888940>

In [49]:
query="""

CREATE TABLE crime_record (
    case_number             varchar(100),
    date                    TIMESTAMP WITHOUT TIME ZONE, 
    iucr                    varchar(100) , 
    arrest                  BOOL,
    domestic                BOOL, 
    fbi_code                varchar(100),
    updated_date            TIMESTAMP WITHOUT TIME ZONE, 
    location_id             INT,
    CONSTRAINT case_number_pk PRIMARY KEY (case_number),
    CONSTRAINT iucr_fbi_fk FOREIGN KEY (iucr, fbi_code) REFERENCES crime_code(iucr, fbi_code),
    CONSTRAINT location_id_fk FOREIGN KEY (location_id) REFERENCES crime_location(location_id)
)
"""
with engine.connect() as connection:
    res = connection.execute(query)
    print(res)

2020-12-18 19:26:48,303 INFO sqlalchemy.engine.base.Engine

CREATE TABLE crime_record (
    case_number             varchar(100),
    date                    TIMESTAMP WITHOUT TIME ZONE,
    iucr                    varchar(100) ,
    arrest                  BOOL,
    domestic                BOOL,
    fbi_code                varchar(100),
    updated_date            TIMESTAMP WITHOUT TIME ZONE,
    location_id             INT,
    CONSTRAINT case_number_pk PRIMARY KEY (case_number),
    CONSTRAINT iucr_fbi_fk FOREIGN KEY (iucr, fbi_code) REFERENCES crime_code(iucr, fbi_code),
    CONSTRAINT location_id_fk FOREIGN KEY (location_id) REFERENCES crime_location(location_id)
)

2020-12-18 19:26:48,304 INFO sqlalchemy.engine.base.Engine {}
2020-12-18 19:26:48,316 INFO sqlalchemy.engine.base.Engine COMMIT
<sqlalchemy.engine.result.ResultProxy object at 0x7f20ac6cff60>

Loading data back into tables

crime_location.to_sql('crime_location', 
                          engine,            
                          schema= username,  
                          if_exists='append', 
                          index=False,        
                          chunksize=3000,
                          method='multi')

crime_code.to_sql('crime_code', 
                          engine,            
                          schema= username,  
                          if_exists='append', 
                          index=False,        
                          chunksize=3000,
                          method='multi')

crime_record.to_sql('crime_record', 
                          engine,            
                          schema= username,  
                          if_exists='append', 
                          index=False,        
                          chunksize=3000,
                          method='multi')

## For each of the tables, show the number of rows in the table using a sql query

* Add additional cells if required

In [53]:
%%sql 
SELECT COUNT(*)
FROM crime_record;

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[(336123,)]

In [54]:
%%sql 
SELECT COUNT(*)
FROM crime_location;

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[(336123,)]

In [55]:
%%sql 
SELECT COUNT(*)
FROM crime_code;

 * postgres://nfe9r6:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[(328,)]